.block-music-player {
  width: 10rem;
  height: 5rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  .music-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    transform: translateY(0);
    opacity: 0;
    transition: all ease-in .3s;
    .music-control-play {
      position: absolute;
      margin: 0 auto;
      width: 2rem;
      height: 2rem;
    }
    .music-time {
      position: absolute;
      color: white;
      bottom: 10%;
    }
  }
  audio {
    display: none;
  }
  &:hover {
    .music-control {
      transform: translateY(-100%);
      opacity: 1;
    }
    .music-cover {
    }
    cursor: pointer;
  }
}
.is-mini {
  width: 10rem;
  height: 10rem;
}
.music-rotate {
  .music-cover {
    animation: cover-rotate infinite 20s linear;
  }
}
.music-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: repeating-radial-gradient(rgb(16, 16, 18), rgb(20, 20, 22) 3%);
  border-radius: 50%;
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: conic-gradient(
        transparent,
        transparent 20%,
        rgba(255, 255, 255, 0.1) 25%,
        transparent 30%,
        transparent 70%,
        rgba(255, 255, 255, 0.1) 75%,
        transparent 80%,
        transparent
    );
  }
}
.music-cover-img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes cover-rotate {
  0% {
   transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
