.block-music-player {
  width: 10rem;
  height: 5rem;
  position: relative;
  border-radius: 50%;
  .music-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    opacity: 1;
    border-radius: 50%;
    transition: all ease-in 0.3s;
    .music-control-play {
      position: absolute;
      margin: 0 auto;
      width: 2rem;
      height: 2rem;
    }
    .music-time {
      position: absolute;
      color: white;
      bottom: 10%;
    }
    .music-control-icon {
      width: 16px;
      height: 16px;
    }
    .voice-icon {
      position: absolute;
      bottom: 34px;
      right: 13px;
      z-index: 1;
      &:hover {
        img {
          fill: black;
        }
        .voice-bar {
          opacity: 1;
        }
      }
    }
    .voice-bar {
      opacity: 0;
      transition: opacity 0.4s ease;
      position: absolute;
      width: 1.5rem;
      height: 4rem;
      background-color: rgba(178, 173, 168, 0.3);
      bottom: 25px;
      right: 0;
      border-radius: 10px;
      /*overflow: clip;*/
      .voice-bar-line {
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100%;
        background-color: #fff;
        pointer-events: none;
      }
    }
  }
  audio {
    display: none;
  }
  &:hover {
    .music-control {
      opacity: 1;
    }
    .music-cover {
    }
    cursor: pointer;
  }
}
.is-mini {
  width: 10rem;
  height: 10rem;
}
.music-rotate {
  .music-cover {
    animation-play-state: running;
  }
}
.music-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: repeating-radial-gradient(rgb(16, 16, 18), rgb(20, 20, 22) 3%);
  border-radius: 50%;
  animation: cover-rotate infinite 20s linear;
  animation-play-state: paused;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background: conic-gradient(
      transparent,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 25%,
      transparent 30%,
      transparent 70%,
      rgba(255, 255, 255, 0.1) 75%,
      transparent 80%,
      transparent
    );
  }
}
.music-cover-img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
}

@keyframes cover-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
